{% extends "base.html" %}
{% block start %}
{% if request.user.is_authenticated %}
<h2 class="my-4 mx-2"> Hii {{request.user.first_name}}</h2>
{% if request.user.type == 'ADMIN'  %}
<a href="/add-book/" class="btn btn-success mx-2 me-4 my-4" type="submit">Add Book</a>
{% endif %}
{% endif %}
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Average rating</th>
    </tr>
  </thead>
  <tbody>

    {% for book in books %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>{{book.title}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.description}}</td>
      <td>{{book.average_rating}}</td>
      {% if request.user.is_authenticated and request.user.type == 'ADMIN'  %}
      <td>
      <a href="{% url 'update-book' book.id %}" class="btn btn-success mx-2 me-4 my-4" type="submit">Update Book</a>
      <a href="{% url 'delete-book' book.id %}" class="btn btn-success mx-2 me-4 my-4" type="submit">Delete Book</a>
      </td>
      {% endif %}
      {% if request.user.is_authenticated %}
      <td>
      <a href="{% url 'add-review' book.id %}" class="btn btn-success mx-2 me-4 my-4" type="submit">Review & Ratings</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}