{% extends "base.html" %}
{% block start %}
<form  method="POST" class=" my-4 col-6 mx-auto card p-3 shadow-lg" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="mb-4">Add a review</h2>
    
    {% if messages %}
    <div class='alert alert=primary' role='alert'>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif%}

    <div class="mb-3">

<span>
  <p>Ratings</p>
  <div class="rate form-group">
    <input type="radio" id="star5" name="ratings" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="ratings" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="ratings" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="ratings" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="ratings" value="1" />
    <label for="star1" title="text">1 star</label>
      </div>
  </span>
    </div>
    <div>
        <label for="comment">Comment</label>
        <textarea id="comment" name="comment" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Review</button>
</form>
{% if avg == 0 or avg is None %}
<h2>No ratings yet</h2>
{% else %}
<h2>Average Rating: {{avg}}</h1>
{% endif %}

<table class="table table-hover table-bordered">
  {% if reviews %}
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Rating</th>
      <th>Comment</th>
      <th>Review by</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>

    {% for review in reviews %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>{{review.rating}}</td>
      <td>{{review.comment}}</td>
      <td>{{review.user.first_name}}</td>
      <td>
        {% if request.user == review.user %}
            <a href="{% url 'update-review' review.id %}" class="btn btn-success mx-2 me-4 my-4" type="submit">Update Review</a>
            <a href="{% url 'delete-review' review.id %}" class="btn btn-success mx-2 me-4 my-4" type="submit">Delete Review</a>
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}